<div fxLayout="column" fxFlex="75" fxFlexOffset="12.5%" *ngIf="loggedIn()">
    <mat-form-field id="messageField">
      <mat-icon matPrefix>comment</mat-icon>
      <textarea
      [(ngModel)]="message.message"
      matNativeControl
      placeholder="Enter your message here!"
      id="message"></textarea>
    </mat-form-field>
  
    <button 
    mat-raised-button 
    type="button"
    color="{{submitted ? '' : 'primary'}}"
    (click)="sendMessage()" 
    [disabled]="!validateMessage()">
      {{submitted ? "Sending..." : "Send"}}
      <mat-icon>send</mat-icon>
    </button>
    
  </div>