.example-viewport {
    height: 66%;
    width: 80%;
    margin: 0% auto;
    border: 1px solid black;
    box-sizing: border-box;
}
  
.example-item {
    min-height: 60px;
} 
.example-item:nth-child(2n) {
    background-color: #eee;
}