.owner {
    background-color: rgb(26, 92, 26, 0.3)
}

.owner:after {
    background-color: rgb(26, 92, 26, 0.3)
}

.message {
    padding: 5px;
    box-sizing: border-box;
    border: 1px outset black;
}